<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js">

	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue">

	</script>
</head>

<body>
	<div id="app" class="container">
		<div class="jumbotron">
			<h1>Hello from ROSDS!</h1>
		</div>
		<!-- ------------- connect Websocket ----------- -->
		<div class="row" style="max-height:200px;">
			<div class="col-md-6">
				<h3>Connection status</h3>
				<p class="text-success" v-if="connected">Connected!</p>
				<p class="text-danger" v-if="!connected">Not connected!</p>
				<label>Websocket server address</label>
				<input type="text" v-model="ws_address" />
				<br><br>
				<button class="btn btn-danger" v-if="connected" @click="disconnect">Disconnect!</button>
				<button class="btn btn-success" v-else @click="connect">Connect!</button>

			</div>
			<div class="col-md-6" style="max-height:200px; overflow:auto;">
				<h3>Log messages</h3>
				<div>
					<p v-for="log in logs">{{ log }}</p>
				</div>
			</div>
		</div>
		<!-- -------------End connect Websocket ----------- -->
		<hr>
		<div class="row">
			<div class="col-md-12 text-center">
				<h5>Commands</h5>
			</div>
			<!-- 1st row -->
			<div class="col-md-12 text-center">
				<button @click="forward" :disabled="loading || !connected" class="btn btn-primary">Go forward</button>
				<br></br>
			</div>

			<!-- 2nd row -->
			<div class="col-md-4 text-center">
				<button @click="turnLeft" :disabled="loading || !connected" class="btn btn-primary">Turn left</button>
				<br></br>
			</div>
			<div class="col-md-4 text-center">
				<button @click="stop" :disabled="loading || !connected" class="btn btn-danger">Stop</button>
				<br></br>
			</div>
			<div class="col-md-4 text-center">
				<button @click="turnRight" :disabled="loading || !connected" class="btn btn-primary">Turn right</button>
			</div>

			<!-- 3rd row -->
			<div class="col-md-12 text-center">
				<button @click="backward" :disabled="loading || !connected" class="btn btn-primary">Go backward</button>
			</div>
			<!-- sound Play -->
			<button @click="soundPlay" class="btn btn-warning" >Sound Play</button>
			<!-- Record Video -->
			<button class="btn btn-warning">Record Video</button>

		</div>
	</div>
	<button id="startstop" style="outline-width: 0; background-color: transparent; border: none"><img id="startstopicon" src=""/></button>
	<script type="text/javascript" src="main.js"></script>
</body>

</html>